{% extends "base.html" %}
{% load formatting %}
{% block content %}

<div class="hero-unit">
<center>
<table border="1">
  <tbody>
    
{% for restaurant in restaurants %}
    <tr>
      <td><a href="/restaurants/{{restaurant.pk}}/">{{restaurant.name}}</a></td>
      <td>{{ restaurant.address }}</td>
      <td>{{ restaurant.phone|format_phone:'-' }}</td>
      <td>{{ restaurant.cuisine_type }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<div>
<!-- base pagination html code quickly taken from stack overflow in modifications -->
    <span>
        {% if restaurants.has_previous %}
            <a href="?page={{ restaurants.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ restaurants.number }} of {{ restaurants.paginator.num_pages }}.
        </span>

        {% if restaurants.has_next %}
            <a href="?page={{ restaurants.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</center>
</div>
{% endblock %}
