{% extends "base.html" %}

{% block content %}

<form method="POST" action="/restaurants/create/">
{{ restaurant_form.as_ul }}
<button class="btn btn-large btn-primary" type="submit">Create</button>
{% csrf_token %}
</form>

<!-- Basic Modal setup borrowed from twitter docs for quick creation -->
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p We have found an address that should match the one you entered </p>
    <p id="address-normalized">One fine body…</p>
    <p> Please confirm that this is the proper address </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="btn-confirm" class="btn btn-primary">Confirm</button>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

$("#id_address").on("blur", function() {
  var street = $(this).val();
  if ( street != "" && street.split(" ").length > 2) {
      $.getJSON("/restaurants/geocode/?q="+street, function(response) {
      data = response;
      if (data.length >= 1) {
        var addr = data[0];
        $("#address-normalized").html(addr.delivery_line_1 + " " + addr.last_line);
        $("#myModal").modal("toggle");
      } else {
        $("#id_address").css("color", "red");
        $("#id_address").after("<p class='error' style='color:red;'>Address could not be normalize</p>");
      }

      });
} else {
        $("#id_address").css("color", "red");
        $("#id_address").after("<p class='error' style='color:red;'>Address is not long enough</p>");
}
});
$("#btn-confirm").on("click", function() {
  var addr = data[0];
  //Restore the color to black if their were any errors
  $("#id_address").css("color", "black");
  //Remove all the error messages
  $(".error").remove();
  //Update the inputs
  $("#id_address").val(addr.delivery_line_1 + " " + addr.last_line);
  $("#id_latitude").val(addr.metadata.latitude);
  $("#id_longitude").val(addr.metadata.longitude);
  //Turn of the modal
  $("#myModal").modal("toggle");
  //Remove the normalization event
  $("#id_address").off("blur");

});
});
</script>
{% endblock %}
