{% extends "base.html" %}
{% load generate %}
{% block content %}
<style>
.item-box i{
 width:200px;
 height:200px;
}
.thumb-red
{
color:red;
}
.thumb-black {
color:black;
}
.author {
float:right;
left:90%;
}

.star-black {
color:black;
}
.star-yellow {
color:yellow;
}

.row-fluid [class*="span"].center, .center {
    margin: 0 auto;
    float: none;
}
</style>
<div class="hero-unit">
<center>
  <h1>{{restaurant.name}}</h1>
  <h3>{{restaurant.address}}</h3>
  <h3>{{restaurant.phone}}</h3>
  <h4>{{restaurant.cuisine_type}}</h4>

  <br/>
  <br/>
  <h5>You have visited this restaurant {{visit_counter.visit_count}} times.</h5>

  <div class="item-box">
    
    <i id="thumbs" class="icon-thumbs-down-alt icon-larger {% if thumbsdown %}thumb-red{% else %}thumb-black{% endif %}"></i>(click to change)
  </div>
</center>
</div>

       <center>     <legend>Reviews</legend> </center>
       
      {% for review in reviews %}
      <div class="row" id="{{review.pk}}">
        <div class="span6 center" style="">
          <div class="well">
            {% autoescape off %}
            {{ review.rating|generate_rating_stars }}
            {% endautoescape %}
            {% if review.user.username == user.username %}
            <i class="icon-user-md pull-right icon-large" style="color:green;"></i>
            {% endif %}
            <p>{{review.text}}</p>
            <br/>
            <p class="author pull-right" style="">
              by: 
              <strong>
                <i>{{review.user.username}}</i>
              </strong>
            </p>
            <br/>
            <h4>Comments</h4>
            {% for comment in review.restaurantcomment_set.all %}
            <div class="well" id="">
              <p>{{comment.text}}</p>
              <br/>
              <p class="author pull-right" style="">
                by: 
                <strong>
                  <i>{{comment.user.username}}</i>
                </strong>
              </p>
              <br/>
            </div>
            {% endfor %}
            {% if review.user.username != user.username %}
            <div class="well" id="comment-submit" data-review-id="{{review.pk}}">
              <div class="signin-form">
                <textarea id="id_comment" name="comment" style="width:100%" rows="3" data-review-id="{{review.pk}}"></textarea>
                <button id="submit-comment" class="btn btn-large btn-primary pull-right submit-comment" data-review-id="{{review.pk}}">Submit</button>
              </div>
            </div>
            {% endif %}
           </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="row" id="review-submit">
        <div class="span6 center" style="">
          <div class="well">
            <i class="icon-star-empty star-black star-toggleable" id="star1" data-state="false" data-index="1"></i>
            <i class="icon-star-empty star-black star-toggleable" id="star2" data-state="false" data-index="2"></i>
            <i class="icon-star-empty star-black star-toggleable" id="star3" data-state="false" data-index="3"></i>
            <i class="icon-star-empty star-black star-toggleable" id="star4" data-state="false" data-index="4"></i>
            <i class="icon-star-empty star-black star-toggleable" id="star5" data-state="false" data-index="5"></i>
            <div class="signin-form">
              <textarea id="id_review" name="review" style="width:100%" rows="5"></textarea>
              <button id="submit" class="btn btn-large btn-primary pull-right">Submit</button>
              </div>
           </div>

        </div>
        </div>
      </div>

<script type="text/javascript">
//State Space
thumbStates = {
    false:"thumb-black",
    true:"thumb-red",
}
starStates = {
    false:"icon-star-empty star-black star-toggleable",
    true:"icon-star star-yellow star-toggelable",
}

//Helper Memory
window.starLastIndex = 0;

thumbState = {% if thumbsdown %}true{% else %}false{% endif %};
console.log(thumbState);
$(document).ready(function() {
window.loadEventHandlers = function(){

  $("#thumbs").off("click");
  $(".star-toggleable").off("click");
  $("#submit").off("click");
  $(".submit-comment").off("click");
  $("#thumbs").on('click', function() {
    var thumbState = !thumbState;
    $(this).removeClass(thumbStates[!thumbState]).addClass(thumbStates[thumbState]);
    $.getJSON("/social/thumbs/toggle/{{restaurant.pk}}/?v="+thumbState, function(response) {
      console.log(response);
    });
  });

  $(".star-toggleable").on("click", function() {

    //Find the current state of our clicked star
    var state = $(this).attr("data-state");
    if (state == "false") state = true;
    else state = false;
    //now we have the requested state change.

    //Where does out star lie, and what is the expected behavior.
    var index = parseInt($(this).attr("data-index"));
    
    if ($("i[data-state='true']").length > index) {
      for (var i=5; i>index; i--) {
        var starHandle = $("#star"+i);
        starHandle.attr("data-state", false);
        starHandle.removeClass(starStates[true]).addClass(starStates[false]);
      }
    }    
    else if (window.starLastIndex < index) {
      for (var i=1; i<=index; i++) {
        var starHandle = $("#star"+i);
        starHandle.attr("data-state", true);
        starHandle.removeClass(starStates[false]).addClass(starStates[true]);
      }
    }
    else {
      $(this).attr("data-state", state);
      $(this).removeClass(starStates[!state]).addClass(starStates[state]);
    
    }

    starLastIndex = index;
  });

  $("#submit").on('click', function() {
    var cmt = $("#id_review").val();
    var username = '{{user.username}}';
    
    var rating = $("i[data-state='true']").length;
    star_html = "";
    for (var i=1; i < rating + 1; i++){
      star_html += "<i class='icon-star star-yellow'></i>"
    }
    for (var i=rating; i<5; i++) {
      star_html += "<i class='icon-star-empty star-black'></i>"
    }


    $.getJSON("/social/review/add/{{restaurant.pk}}/?t="+cmt+"&rating="+rating, function(response){
      console.log(response);
    $("#review-submit").before("<div class='row' id='"+response.review_id+"'><div class='span6 center' style=''><div class='well'>"+star_html+"<p>"+cmt+"</p><br/><p class='author pull-right'>by: <strong><i>{{user.username}}</i></strong></p><br/><h4>Comments</h4><div class='well' id='comment-submit' data-review-id='"+response.review_id+"'><div class='signin-form'><textarea id='id_comment' name='comment' style='width:100%' rows='3' data-review-id='"+response.review_id+"'></textarea><button id='submit-comment' class='btn btn-large btn-primary pull-right submit-comment' data-review-id='"+response.review_id+"'>Submit</button></div></div></div></div></div>");
    $("#id_review").val("");
    loadEventHandlers();
    });

  

  });

  $(".submit-comment").on("click", function() {
    var reviewId = $(this).attr("data-review-id");
    var cmt = $("#id_comment[data-review-id='"+ reviewId +"']").val();
    $("#comment-submit[data-review-id='"+reviewId+"']").before("<div class='well'><p>"+cmt+"</p><br/><p class='author pull-right' style=''>by: <strong><i>{{user.username}}</i></strong></p></div>");
     
    $("#id_comment[data-review-id='"+ reviewId +"']").val("");
    $.getJSON("/social/review/comments/add/"+reviewId+"/?t="+cmt, function(response){
      console.log(response);
    });
  });
}
loadEventHandlers();
});
</script>
{% endblock %}
