{% extends "base.html" %}

{% block content %}
<body>
<form method="POST" action="/accounts/new/" class="form-signin">
{{ new_user_form.as_ul }}
<li>
<label for="id_team">Team Name:</label> 
<input type="text" id="id_team" name="team" default="Enter Team Name Here"/>
</li>
<li>
<label for="id_isadmin" style="float:left">Admin?:</label> 
<input type="checkbox" id="id_isadmin" name="isadmin" style="display:inline-block"/>
</li>

{{ new_user_profile_form.as_ul }}
<button class="btn btn-large btn-primary" type="submit">Create</button>
{% csrf_token %}
</form>
</body>
{% endblock %}
